/* ==========================================================================
   11. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 1rem 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  line-height: 1.75em;
  color: #BBC7CC;
  text-align: center;
}

.site-footer a {
  color: #BBC7CC;
  text-decoration: none;
  font-weight: bold;
}

.site-footer a:hover {
  border-bottom: #bbc7cc 1px solid;
}

.copyright,
.poweredby {
  position: absolute;
  top: 1rem;
}

.copyright {
  left: 15px;
}

.poweredby {
  right: 15px;
}
